<div class="shadow flex">
  <input class="w-full rounded p-2" type="search" placeholder="Vyhledej síťový prvek...">
  <button class="bg-white w-auto flex justify-end items-center text-blue-600 p-2 hover:text-blue-400">
    <i class="material-icons">search</i>
  </button>
</div>
{{outlet}}